
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

#header {
    padding: 14px 0;
    padding-top: 14px;
    padding-right: 0px;
    padding-bottom: 14px;
    padding-left: 0px;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
    z-index: 997;
    background: rgb(12, 11, 11);
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    border-color: black;

}
body{
    font-family: 'Poppins', sans-serif,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
#main_wrapper
{
    width: 900px;
    margin: auto;
}
